.rhyme {
  list-style: none;
  font-size: .7vw;
  margin: .5vh 0;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
}

@media screen and (max-width: 1280px) {
  .rhyme {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 720px) {
  .rhyme {
    font-size: 3vw;
  }
}