@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
@import url("./normalize.css");
@import url("./blocks/header.css");
@import url("./blocks/login.css");
@import url("./blocks/page.css");
@import url("./blocks/form.css");
@import url("./blocks/results.css");
@import url("./blocks/rhymes.css");
@import url("./blocks/eye.css");
@import url("./blocks/rhyme.css");
@import url("./blocks/footer.css");

html {
  background-color: #144552;
  font-family: 'Reem Kufi Fun', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}